services:
  postgres:
    image: postgres:17
    shm_size: "4gb"
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres:/var/lib/postgresql

volumes:
  postgres:
    driver: local
